# Telegram Bot Token
BOT_TOKEN=7892043953:AAGjYraYgo6byvT5ZnvKGAfTki4wMJ-0P40

# Admin IDs (عددها رو با کاما جدا کن)
ADMIN_IDS=123456789,987654321,555555555

# Admin Usernames
ADMIN_USERNAMES=@pesarkhandeadmin,@MrArmanQ,@PvApb

# Channel for mandatory join
CHANNEL_USERNAME=@Mafiakhand
